.navbar {
    background-color: #1a1a1a;
    color: whitesmoke; 
    padding: 1rem;
    line-height: 1.5;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.navbar-container h1,
.navbar-container h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.navbar-title {
    /* font-family: 'Helvetica Neue', sans-serif; */
    font-weight: 400;
    font-size: 1.5rem;
}

.navbar-description {
    display: inline;
    font-weight: 400;
    font-size: 1.7rem;
    font-family: 'Bad Acid', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: rgba(169, 169, 169, 0.8);
    /* border: 1px solid #a9a9a9; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.navbar-link {
    color: rgba(169, 169, 169, 0.8);
    border: 1px solid #a9a9a9;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    font-family: 'Bad Acid', sans-serif;
}

.social-link {
    color: rgba(169, 169, 169, 0.8);
    border: 1px dashed #a9a9a9;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    font-family: 'Bad Acid', sans-serif;
}