.section-container {
    /* position: relative; */
    background-color: #1a1a1a;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    word-wrap: break-word;
    margin-bottom: 4rem;
}

.subtitle {
    font-size: 2rem;
    font-weight: normal;
    margin: 1rem 0;
    text-align: justify;
    margin-bottom: 2rem;
}

.description {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: right;
}
